<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
<link rel="stylesheet" type="text/css" href="../controllers/style.css" media="screen" />




    <title>Entrar</title>
</head>


<body>
    <div class="login-page">
        <div class="form">
          <center><h1>Cadastro Livraria Online</h1></center>
           <form name="incCliente" action="../model/insere_usuario.php" method=POST>
        <div>
                <input type="text" name="nome" id="idnome" maxlength="30"  placeholder="Nome" required>
            </div>

            <div>
                <input type="text" name="cpf" id="idcpf" maxlength="11" placeholder="CPF" required>
            </div>
            <div>
                <input type="text" name="rg" id="idrg" maxlength="9" placeholder ="RG" required>
            </div>
            <div>
                <input type="password" name="senha" id="idsenha"  placeholder="Senha" required>
            </div>

            <div>
                 <input type="email" name="email" id="idemail" placeholder="E-mail" required>
            </div>

            <div>
                <input type="email" name="Emailconfirmacao" id="idemailconfirmacao" placeholder="Confirme seu E-mail" required autocomplete="off">
            </div>

            
			<input type="submit" value="Cadastrar" id="cad">
            <button type="reset">Limpar </button>
            </form>
			
        </div>
   
        </div>
      </div>

      
</body>



</html>




