<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="../controllers/style.css" media="screen" />





    <title>Entrar</title>
</head>


<body>
  <div class="livros">
        
          
          <div class="listalivro">
            <center> 
              <img src="imagens/livro1.jpg" width="50% " alt="livro 1">
              <h3>Livro - O Morro dos Ventos Uivantes - Edição de Luxo Bilíngue em Capa Dura - Português/ Inglês</h3></center>
              <button type="submit">Emprestar</button>
          </div>

          <div class="listalivro">
            <center> 
              <img src="imagens/livro1.jpg" width="50% " alt="livro 1">
              <h3>Livro - O Morro dos Ventos Uivantes - Edição de Luxo Bilíngue em Capa Dura - Português/ Inglês</h3></center>
              <button type="submit">Emprestar</button>
          </div>

          
       
      </div>
</body>



</html>




