<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="../controllers/style.css" media="screen" />




    <title>Entrar</title>
</head>


<body>
    <div class="login-page">
        <div class="form">
          <center><h3>Livraria Online</h3></center>
          <form class="login-form">
            <input type="text" placeholder="E-mail" required />
            <input type="password" placeholder="Senha" required/>
            <button>Entrar</button>
            <p class="message">Não tem cadastro? <a href="#">Fazer cadastro</a></p>
          </form>
        </div>
      </div>
</body>



</html>




