@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 600px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button,button, input[type=submit]{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 30%;
  border: 15;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

button[type = "reset"]{
    background: red;

}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

*{
    font-family: "Roboto", sans-serif;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


.livros {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 80%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.listalivro{

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}


#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:790px;
}

 
#divBusca, #idgenero{
  background: white;
  margin-bottom: 10px;
  border:solid 5px green;
  border-radius:10px;
  height:35px;
  width: 30%;
}

#idgenero{
  
  margin-left: 30px;
  margin-right: 100px;
  margin-top: -20px;
  margin-bottom:40px;
  height:45px;
  width: 20%;
}

#btnBusca{
  background: green;
  width: 20%;
  border: 50%;
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: -4 0px;
  border-radius:10px;

}
